* {
  padding: 0;
  margin: 0;
}

header {
  border-bottom: 1px solid black;
}

header h1 {
  text-align: center;
}

nav {
  width: 100%;
  overflow: auto;
  padding-bottom: 20px;
}

main {
  padding: 10px;
}

.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}
 
.itemWrapper {
  display: flex;
}

.itemContent {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.price {
  font-weight: 600;
  color: darkgreen;
  font-size: 18px;
}